
.idea/Humanoid2D.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

ocp_graph.gv

ocp_graph.gv.pdf

__pycache__/

HUMANOID_10DOF/

HUMANOID_3DOF/

HUMANOID_4DOF/RK4_1_step_10_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_1_step_10_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_1_step_10_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK4_1_step_20_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_1_step_20_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_1_step_20_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK4_1_step_40_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_1_step_40_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_1_step_40_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_10_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_10_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_10_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_20_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_20_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_20_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_40_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_40_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK4_2_steps_40_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK8_1_step_10_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK8_1_step_10_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK8_1_step_10_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK8_1_step_20_MultiBodyDynamics_EXPLICIT.bo

HUMANOID_4DOF/RK8_1_step_20_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/RK8_1_step_20_MultiBodyDynamics_SEMI_EXPLICIT.bo

HUMANOID_4DOF/RK8_1_step_40_MultiBodyDynamics_IMPLICIT.bo

HUMANOID_4DOF/
